.img-carousel {
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}
.card-carousel {
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(8px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.textcard {
  font-family: Montserrat;
  margin-top: 15px;
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}
.bg {
  padding: 1rem 0 3rem 0;
  background: linear-gradient(180deg, #8489ff 0.23%, #61c0f5 99.79%);
}

.bg > .container > h1 {
  text-align: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(8px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}
