.test {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.txt-dark {
  color: white;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.698);
  border-radius: 5px;
}

.txt-title {
  width: 150px;
  text-align: center;
}

.card {
  display: flex;
  width: 47%;
  object-position: 0% 0%;
}
@media (max-width: 770px) {
  .card {
    width: 100%;
  }
  .card-img {
    object-fit: cover;
  }
}
@media (max-width: 990px) {
  .txt-description {
    opacity: 1;
  }
}
.card-img {
  height: 35vh;
  object-fit: cover;
}

.txt-description {
  transition: 0.5s;
  opacity: 0;
}

.card:hover .txt-description {
  transition: 0.5s;

  opacity: 1;
}

.SearchInput {
  max-width: 50vw;
  width: 100vw;
  padding: 10px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.671);
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backbtn {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.685);
  padding: 20px 30px;
  border-radius: 50px;
  transition: 0.5s;
}

.backbtn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.description {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20.2852px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #ffffff;
}
