.yellow {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 34.375px;
  line-height: 43px;
  color: #ffe24a;
}
.white {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 34.375px;
  line-height: 43px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .barraNav a {
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(8px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    transition: 0.5s;
  }
  .barraNav .dropdown-menu {
    background: rgba(255, 255, 255, 0) !important;
  }
  .barraNav a:hover {
    background-position: right center; /* change the direction of the change here */
  }
}
.white-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24.5267px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.shadowfilter {
  filter: drop-shadow(0px 0px 2px #2f2f2f);
}
.white-link:hover {
  color: rgb(255, 255, 255);
}

.active {
  color: rgba(255, 255, 255, 0.9);
}
.navbar {
  background: linear-gradient(0deg, #00000000 0.05%, rgba(0, 0, 0, 0.4) 95%);
  height: 6rem;
}

.dropdown-menu {
  text-align: center;
  background: rgba(206, 206, 206, 0.335) !important;
  backdrop-filter: blur(8px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.dropdown {
  line-height: 100%;
}
.navbar-toggler {
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(8px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
