.itinerary {
  color: white;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(270deg, #efd862 0%, #ffbfb6 100%);

  box-shadow: 20px 20px 60px #668bd5, -20px -20px 60px #8abdff;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
}

.itinerary-interactions {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

.itinerary-username {
  font-weight: bold;
  font-size: 35px;
}

.itinerary-content {
  width: 100%;
}

.itinerary-title {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 90%;
  font-weight: bold;
  font-size: 45px;
  border: 5px solid rgba(255, 255, 255, 0.18);

  background: linear-gradient(145deg, #8489ff 0.23%, #61c0f5 99.79%);
  margin-top: 10px;
  padding: 5px 20px;
  backdrop-filter: blur(100px);
  border-radius: 10px;
}
.itinerary-photo {
  background: #78a4fa;
  border-style: double;
  border: 5px solid rgba(255, 255, 255, 0.18);

  width: 15rem;
  height: 10rem;
  margin: 10px;
  object-fit: cover;
  border-radius: 50px;
}
.interaction > p {
  margin: 0;
}

.interaction {
  margin: 10px;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  text-shadow: 0 2px 4px rgb(46 46 46);
}

.tags {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  text-shadow: 0 2px 4px rgb(46 46 46);
}
.tag::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background: linear-gradient(145deg, #8489ff 0.23%, #61c0f5 99.79%);
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

.tag:hover::before {
  transform: scaleY(1);
  background: linear-gradient(145deg, #8489ff 0.23%, #61c0f5 99.79%);
}

.price {
  color: rgb(97, 216, 97);
}

.heart {
  color: red;
  cursor: pointer;
}

.icon {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0);

  font-size: 1.5rem;
}

.botonaso {
  margin-top: 20px;
  color: white;
  background: linear-gradient(145deg, #8489ff 0.23%, #61c0f5 99.79%);
}

@media (min-width: 769px) {
  .itinerary {
    width: 90%;
    margin: auto;
  }

  .itinerary-username {
    margin: 10px 0;
    color: #4f86da !important;
  }
}

@media (min-width: 900px) {
  .itinerary-interactions {
    width: 70%;
  }
  .tags {
    width: 70%;
  }
  .itinerary-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .itinerary {
    width: 70%;
    margin-top: 60px;
  }
  .botonaso {
    margin-top: 20px;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activity {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.activityPic {
  height: 100%;
  object-fit: cover;
}

.oscurito {
  background-color: #4f87dacc !important;
  padding: 30px;
  border-radius: 30px;
}

.commentBox {
  background: linear-gradient(145deg, #8489ff 0.23%, #61c0f5 99.79%);
  border-radius: 10px;
  margin: 1rem 0;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment {
  background-color: rgba(0, 0, 0, 0.226);
  margin: 5px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: calc(100% - 10px);
  justify-content: space-between;
}

.btn {
  margin: 0.1rem;
  color: white;
}
.btn:hover {
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.posteador > .inputtext {
  width: 85%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.15);
  border: 7px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: Montserrat;
  padding: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #505050;
  text-align: center;
}
.send {
  padding: 0.4em;
  border: none;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 8;
  color: #505050;
}
.posteador > label {
  margin-right: 0.3rem;
  height: 4rem;

  font-family: Montserrat;
  padding: 0.7rem;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  background: #ffffff;
  border-radius: 30px;
  height: max-content;
  color: #505050;
}
.posteador {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.message {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin: 1rem;
  text-align: left;
  overflow-wrap: break-word;
  width: 60%;

  align-self: center;
}

.pmessage {
  max-width: 100%;
  font-size: 1.3rem;
}
.labeltext {
  align-self: center;
}

.userInfo {
  margin: 1rem;
}

.userInfo > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
